@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:700');

* {
  margin: 0;
  box-sizing: border-box;
  text-align: justify;
}

html, body {
   width: 100%;
   height: 100%;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;

}

h1, h2, .box span {
  font-family: 'Roboto', sans-serif;
}

h1, .box span {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

h1 em{
  display:block;
  font-style:normal;
}

h1 {
  font-size: 3em;
  border-top: 3px solid #000;
  padding: 45px 10px 20px 10px;
}

h2 {
  font-size: 3em;
  margin-left: -0.2em;
}

h3 {
  font-size: 0.7em;
  color: #666;
  font-weight: 300;
  margin-bottom: 3em;
}

h4 {
  font-size: 1em;
  color: #666;
  font-weight: bold;
}

p {
  margin-bottom: 15px;
}

.info {
  position: absolute;
  display:none;
  top: 0;
  right: 0px;
  left: 170px;
  overflow: hidden;
  background-color: #fff;
  z-index: 999;
  border-bottom: 3px solid #000;
  padding: 30px;
}

.info ul{
  list-style: none;
  padding: 0
}

.anchor-links {
  margin-top: 45px;
  padding: 0 0 0 1em;
}

.anchor-links li {
  display: block;
  margin-bottom: 1em;
}

.anchor-links li a, li a:visited {
  color: #999;
}

.anchor-links li a:hover {
  color: #000;
}

a, a:visited {
  color: #222;
  filter: opacity(0.85);
  text-decoration: none;
}

a:hover {
  color: #000;
  filter: opacity(1);
}

section {
  width: 40%;
  height: 100%;
  float: right;
  overflow: scroll;
  padding: 15px;
}

.box {
  margin: 15px 0 0 170px;
  font-size: 1em;
  border-left: 3px solid black;
  overflow: hidden;
  position: relative;
}

.menu {
  float: left;
  width: 170px;
  height: 100%;
  border: none;
  margin: 0;
}

.box span {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 30px 10px 10px 0px;
  z-index: 900;
  left: 0;
}

.sub-box {
  height: 600px;
  overflow: hidden;
  display: block;
}

.imagem {
  width: 60%;
  height: 100%;
  float: left;
  background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.reduced {
  float: left;
  height: 600px;
  overflow: hidden;
  display: block;
  width: calc(100% / 4);
}

.reduced .imagem {
  height: 50%;
  width: 100%;
  float: none;
}

.reduced section {
  height: 50%;
  width: 100%;
  float: none;
}

.reduced h2 {
  font-size: 1.5em;
}

.medium {
    width: calc(100% / 5);
}

.small {
    width: calc(100% / 6);
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 99;
}

.fixed {
  position: fixed !important;
  left: 173px !important;
  top: 0;
  z-index: 99;
}

.fixend {
  bottom: 0;
}

@media (max-width: 1921px) {
  section {
    width: 45%;
    height: 100%;
    float: right;
    overflow: scroll;
    padding: 15px;
  }

  .imagem {
    width: 55%;
  }

  .small {
    width: calc(100% / 3);
  }

  .medium {
      width: calc(100% / 2);
  }
}

@media (max-width: 1500px) {
  section {
    width: 55%;
    height: 100%;
    float: right;
    overflow: scroll;
    padding: 15px;
  }

  .imagem {
    width: 45%;
  }
}

@media (max-width: 1250px) {
  section {
    width: 65%;
    height: 100%;
    float: right;
    overflow: scroll;
    padding: 15px;
  }

  .imagem {
    width: 35%;
  }

@media (max-width: 900px) {

  .box {
      margin-left: 0;
  }

  .menu {
    float: none;
    width: 100%;
  }

  h1 {
    border-top: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    transform: none;
    writing-mode: unset;
  }

  h1 em {
    display: inline;
  }

  .info {
    top: 110px;
    left: 0px;
    border-bottom: 0px;
  }

  .anchor-links {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  .anchor-links li {
    display: inline-block;
    margin: 0.5em;
  }

  .sticky {
    width: 100%;
    background-color: #fff;
  }

  .imagem {
    height: 50%;
    width: 100%;
    float: none;
  }

  section {
    height: 50%;
    width: 100%;
    float: none;
  }

  .small {
    width: calc(100% / 2);
  }

}

@media (max-width: 500px) {
  h1 {font-size: 2.5em;}
  h2, .reduced h2{
    font-size: 1em;
  }

  .info {
    top: 90px;
  }


  .anchor-links li{
    margin: 0.2em;
  }

  .anchor-links li a {
    font-size: 0.7em;
  }

  .small, .medium, .large{
    width: 100%;
  }
}
